.search-widget {
  .search-link {
    .badge-category {
      display: inline-block;
    }
  }
}

.custom-search-banner-wrap .results {
  padding: 2em 0.5em 0.5em;
}
.clickable-image-wrapper {
  margin-top: 1.5rem;
  display: block;
  width: 50%;
  margin: 0 auto;
}

.clickable-image-wrapper {
  height: 12rem;  
}
