@import "common/foundation/mixins";

$max-width: 850px;

// the width of the search bar is too big on mobile
// so that the button/search bar looks weird

#main-outlet {
  margin: 0 auto;
}

.custom-search-banner-wrap {
  margin: 0 auto;
}
.display-search-banner {
  #main-outlet {
    padding-top: 0;
  }
  color: var(--primary);
}

.search-banner {
  @if $background_image != "none" {
    background-image: url($background_image);
  } @else {
    background: none;
  }
  @if $tile_background_image == "true" {
    background-size: auto;
  } @else {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.custom-search-banner-wrap {
  box-sizing: border-box;
  position: relative;
  padding: 2.5em 0 3em;
  margin: 1em auto;
  @include breakpoint(tablet) {
    padding: 1em 8px 2em;
    margin-top: 0.5em;
  }

  // > div {
  //   margin: 0 auto;
  //   max-width: $max-width;
  // }
}


.text-wrapper {
  text-align: center;
  color: var(--primary);
  > h1 {
    font-size: var(--font-up-6);
    line-height: $line-height-small;
    @include breakpoint(tablet) {
      font-size: var(--font-up-4);
    }
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;

  > div, .search-widget {
    width: 100%;
  }

  .search-menu {
    position: relative;
    display: flex;
    input[type="text"] {
      margin: 0;
      width: 100%;
      padding-right: 4em;
    }
  }

  .menu-panel {
    width: 100% !important;
    position: static !important;
    margin-top: 0 !important;
    padding: 0 !important;
    z-index: 0;
    border: 1px solid var(--tertiary);
    border-radius: 0.25em;
  }

  .search-input {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    .searching {
      // spinner
      top: 0.5em;
      right: 2.25em;
    }
  }

  .search-icon {
    position: absolute;
    z-index: 2;
    order: 2;
    right: 0;
    background: transparent;
    .discourse-no-touch & {
      &:hover {
        background: transparent;
        .d-icon {
          color: var(--primary-high);
        }
      }
    }
  }

  .search-context,
  .results {
    margin: 0 auto;
    max-width: $max-width;
  }

  
  .search-context {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 2.67em;
    display: inline-flex;
    align-items: center;
    label {
      margin-right: 1em;
    }
  }

  .results {
    box-sizing: border-box;
    background: var(--secondary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    position: absolute;
    width: $max-width;
    z-index: 9;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 2.4em;
    right: 0;
    padding: 0.5em;
    @include breakpoint(mobile-extra-large) {
      width: 100%;
    }
    ul,
    ol {
      list-style-type: none;
      margin: 0;
    }
  }

  .searching a.show-advanced-search {
    display: none;
  }

  .search-link .d-icon {
    color: var(--primary-medium);
  }

  span.keyword {
    color: var(--primary);
  }

  > p {
    margin: 0;
    margin-bottom: 0 !important;
  }

  .question-btn {
    display: block;
    width: 100%;
    padding: 13px 0;
    font-size: 17px;
    background-color: var(--tertiary);
    background-color: var(--secondary);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    white-space: nowrap;
    text-align: center;
  }

  .question-btn:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
  }
}

.clickable-image-wrapper {
  margin-top: 1.5rem;
  height: 100%;
  width: 100%;
  div {
    width: 100%;
    height: 10rem;
    @if $background_image != "none" {
    background-image: url($clickable_image);
  } @else {
    background: none;
  }
  @if $tile_background_image == "true" {
    background-size: auto;
  } @else {
    background-size: cover;
    background-repeat: no-repeat;
  }
  }
}


@media only screen and (min-width: 800px) {
  .custom-search-banner-wrap {
    width: 80%;
  }
  .custom-search-banner-wrap .text-wrapper {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
  }
  .custom-search-banner-wrap {
    display: grid;
    column-gap: 2rem;
    align-items: center;
    grid-template-columns: 5fr 3fr;
    // justify-items: space-between;
  } 
  .clickable-image-wrapper {
    grid-row: 1 / 3;
    margin-top: 0;
    grid-column: 2;
    max-width: 400px;
    justify-self: right;
    > div {
      height: 100%;
    }
  }
  .search-container {
    width: 100%;
    /* maybe I should set the limit to the button instead */
    /* margin: auto; */
    grid-row: 2;
    flex-direction: row;
    gap: 1rem;
    align-self: flex-end;
    margin: 3rem 0 0 0;
  }
}
